@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>GameStore.com</h1>
    <p>Welcome to the ultimate game website, GameStore.com, where you can browse a variety of games. Click the store button to view the expansive selection of games!</p>

    <img class="main-img" src="~/covers.jpeg" width="800" height="350" alt="Video Game Covers"/>
</div>

`